@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Required</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Error.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Login Required</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Your session may have expired or you haven't authenticated your identity.</p>
                <p>Please login to verify your account before using the SRED Tool.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    @Html.ActionLink("Go To Login", "Index", "Home", null, 
                        new { @class="btn btn-danger", @id="btn-return-to-login" })
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
